<!-- <form [formGroup]="examenForm" action="" class="row mb-4">
    <div class="col-lg-4 col-md-4 col-sm-12 rounded-pill">
        <label for="active" class="form-label text-capitalize">laboratoire</label>
        <ng-select placeholder="laboratoire" formControlName="laboratoryType">
            <ng-option *ngFor="let laboratorie of laboratories" [value]="laboratorie.id">{{
                laboratorie.name
                }}</ng-option>
        </ng-select>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 rounded-pill">
        <label for="active" class="form-label text-capitalize">Type de patient</label>
        <ng-select placeholder="Type de Patient" formControlName="patientType">
            <ng-option *ngFor="let patientType of patientTypes" [value]="patientType.id">{{
                patientType.name
                }}</ng-option>
        </ng-select>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 rounded-pill">
        <label for="active" class="form-label text-capitalize">Assurance</label>
        <ng-select placeholder="Assurance" formControlName="insurrance">
            <ng-option *ngFor="let Insurrance of InsurrancesList" [value]="Insurrance.id">{{
                Insurrance.name
                }}</ng-option>
        </ng-select>
    </div>
</form> -->
<div class="row h-100">
    <div class="col-lg-6 row">
        <nb-accordion multi>
            <nb-accordion-item *ngFor="let medicalAnalysiSpeciality of medicalAnalysisSpeciality; let i = index;">
                <nb-accordion-item-header>
                    {{i + 1}} - {{medicalAnalysiSpeciality?.name | uppercase}}
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                    <div class="row accordion-item-body">
                        <div class="col-lg-6" *ngFor="let act of acts"
                            [hidden]="act?.medicalAnalysisId != medicalAnalysiSpeciality?.id">
                            <div class="accordion_item">
                                <div>
                                    <nb-checkbox (checkedChange)="getPrescriptionItemsIdToCollected(act)">
                                    </nb-checkbox>
                                    <span class="mx-1">{{act?.name}}</span>
                                </div>
                                <div>
                                    {{act?.actCode}}
                                </div>
                            </div>
                        </div>
                    </div>

                </nb-accordion-item-body>
            </nb-accordion-item>
        </nb-accordion>
        <!-- <div class="col-md-6" *ngFor="let act of acts">
            <nb-checkbox  (checkedChange)="getPrescriptionItemsIdToCollected($event,act)"  ></nb-checkbox>
            {{act?.group}}
        </div> -->
    </div>
    <div class="col-lg-6 pb-2">
        <div class="actsSelected  mb-3 px-3">
            <div class="mb-4"
                *ngFor="let medicalAnalysiSpecialityName of medicalAnalysisSpecialitySecondSection; let i = index">
                <span class="actsSelected_title">{{medicalAnalysiSpecialityName}}</span>
                <div class="act_selectedBox mt-2" *ngFor="let selectectedItem of selectectedItems; let i = index"
                    [hidden]="selectectedItem?.medicalAnalysisName != medicalAnalysiSpecialityName">
                    <div class="accordion_item">
                        <div class="act_selectedItem mx-2">
                            <span class="mx-2">{{selectectedItem?.actCode}} - {{selectectedItem?.name}}</span>
                            <div class="closeBtn">
                                <nb-icon (click)="getPrescriptionItemsIdToCollected(selectectedItem)"
                                    class="pointer text-white" style=" cursor: pointer; " icon="close-outline">
                                </nb-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <textarea class="mb-3" [(ngModel)]="examDto.observation" placeholder="COMMENTAIRE" name="" id="" cols="72"
            rows="3"></textarea>
        <button *ngIf="medicalAnalysisSpecialitySecondSection.length != 0" (click)="saveExamanRequest()"
            style="background-color: #14a2b8;" class="text-capitalize btn btn-block w-25 text-white rounded">
            <span class="fw-bold"> DEMANDER</span>
        </button>
    </div>
</div>