<nb-card class="nbCardList">
  <nb-card-header class="row d-flex justify-content-between align-items-center">
    <div class="col-lg-7 col-md-3 col-sm-12">
      <h4
        class="text-capitalize d-flex justify-content-start w-100 text-center"
      >
        LISTE DES ANTECEDENTS
      </h4>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-12 justify-content-end">
      <button
        (click)="openAddForm(addFormContent)"
        class="text-capitalize btn btn-block btn-success w-100 d-flex align-items-center justify-content-center text-white rounded"
      >
        <nb-icon icon="plus-outline"></nb-icon>
        <span class="fw-bold"> NOUVEAU</span>
      </button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="searchForm">
      <div class="row d-flex justify-content-between align-items-center">
        <div class="col-lg-9 col-md-9 col-sm-12">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-12 mb-2 rounded-pill">
              <input
                type="text"
                class="form-control"
                formControlName="name"
                placeholder="Antecedent"
              />
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 mb-2 rounded-pill">
              <ng-select placeholder="Etat" formControlName="active">
                <ng-option *ngFor="let actif of actives" [value]="actif.id">{{
                  actif.value
                }}</ng-option>
              </ng-select>
            </div>
            <div class="col-lg-2">
              <span
                (click)="onSearchValueChange()"
                style="
                  background-color: #ededed;
                  color: #14a2b8;
                  cursor: pointer;
                "
                class="material-icons px-2 p-1 rounded"
              >
                search
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-12">
          <ng-select
            [(ngModel)]="selectedSize"
            formControlName="size"
            (change)="onSearchValueChange()"
          >
            <ng-option *ngFor="let size of sizes" [value]="size.id">{{
              size.value
            }}</ng-option>
          </ng-select>
        </div>
      </div>
    </form>
    <div class="tableFixHead">
      <table class="table table-bordered table-hover table-md align-middle">
        <thead class="pb-3 text-capitalize">
          <tr class="pb-3">
            <th>Antecedent</th>
            <th>Description</th>
            <th>Etat</th>
            <th>crée le</th>
            <th scope="col">crée par</th>
            <th scope="col">Dernière modif.</th>
            <th scope="col">Modifié par</th>
            <th scope="col">Action</th>
          </tr>

          <tr></tr>
        </thead>

        <tbody>
          <tr
            *ngFor="
              let antecedent of items
                | paginate
                  : {
                      itemsPerPage: selectedSize,
                      currentPage: currentPage,
                      totalItems: totalItems
                    };
              let i = index
            "
            [class.active]="i == currentIndex"
            (click)="rowSelected(commune, i)"
          >
            <td>{{ antecedent?.name | uppercase }}</td>
            <td>{{ antecedent?.description }}</td>
            <td>
              <nb-icon
                *ngIf="antecedent.active == true"
                style="color: green"
                icon="checkmark-circle-2"
              ></nb-icon>
              <nb-icon
                *ngIf="antecedent.active == false"
                style="color: red"
                icon="close-circle"
              ></nb-icon>
            </td>
            <td>{{ antecedent?.createdAt | date: "dd/MM/yyyy hh:mm:ss" }}</td>
            <td>
              {{
                antecedent.createdByFirstName +
                  " " +
                  antecedent.createdByLastName | uppercase
              }}
            </td>
            <td>{{ antecedent?.updatedAt | date: "dd/MM/yyyy hh:mm:ss" }}</td>
            <td>
              {{
                antecedent.UpdatedByFirstName
                  ? antecedent.UpdatedByFirstName +
                    " " +
                    antecedent.UpdatedByLastName
                  : ("" | uppercase)
              }}
            </td>
            <td style="font-size: 30px">
              <nb-icon
                (click)="openUpdateForm(updateFormContent, antecedent)"
                class="mx-2 pointer"
                style="cursor: pointer"
                icon="edit-outline"
              ></nb-icon>
              <!-- <nb-icon (click)="openDetailsForm(detailFormContent, commune)" class="mx-2 pointer" style=" cursor: pointer;" icon="eye-outline"></nb-icon> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex w-100 justify-content-center">
      <div
        style="color: #623508"
        *ngIf="showloading"
        class="spinner-border"
        style="width: 3rem; height: 3rem"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <pagination-controls
        responsive="true"
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="onPageChange($event)"
      >
      </pagination-controls>
    </div>
  </nb-card-body>
</nb-card>

<!-- add modal -->
<ng-template #addFormContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="text-capitalize modal-title color-biblos" id="add-form-modal">
      Ajouter un antecedent
    </h4>
    <nb-icon
      style="cursor: pointer"
      (click)="d('Cross click')"
      class="h4"
      icon="close-circle-outline"
    ></nb-icon>
  </div>
  <div class="modal-body">
    <app-antecedent-form
      (addAntecedent)="addAntecedent()"
    ></app-antecedent-form>
  </div>
</ng-template>

<!-- update modal -->
<ng-template #updateFormContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="text-capitalize modal-title color-biblos" id="update-form-modal">
      Modifer un antecedent
    </h4>
    <nb-icon
      style="cursor: pointer"
      (click)="d('Cross click')"
      class="h4"
      icon="close-circle-outline"
    ></nb-icon>
  </div>
  <div class="modal-body">
    <app-antecedent-form
      [antecedent]="antecedent"
      (updateAntecedent)="updateAntecedent()"
    ></app-antecedent-form>
  </div>
</ng-template>
