<div class="fullscreem bg-white  ">
  <div class="form px-4 bg-gray d-flex row justify-content-center align-items-center w-100 h-100">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onPasswordReset()" class="mx-2 col-lg-5 col-md-7 col-sm-9 py-5"
      action="">
      <div class="text-center title mb-5">
        <h1 class="mb-2">Changement de mot de passe</h1>
        <div class="fst-italic text-danger font-weight-bold ">NB: Vous serez rédirigé vers la page de connexion pour
          vous reconnnecter avec vos NOUVEAUx identifiants</div>
        <div *ngIf="invalidFom" class="alert alert-danger">Formulaire invalid </div>
      </div>
      <div class=" mb-4 d-flex flex-column">
        <label class="text-dark" for="username"> Non d'utilisateur : </label>
        <input formControlName="currentUsername" type="text" class="form-control rounded border border-light"
          placeholder="" name="currentUsername" id="currentUsername" readonly>
        <span class="text-danger"
          *ngIf="(registerFormControl.currentUsername.touched) && registerFormControl.currentUsername.errors?.required">
          nom d'utilsateur réquis
        </span>
      </div>
      <div class=" mb-4 d-flex flex-column">
        <label class="text-dark" for="">NOUVEAU Mot de passe : <span class="text-danger">*</span></label>
        <div style="height: 50px;" class="input-group  mb-3">
          <input formControlName="newPassword" [type]="getInputType()" type="password" class="form-control">
          <div class="input-group-append">
            <button style="height: 50px; " (click)="toggleShowPassword()" class="px-3 btn btn-outline-secondary"
              type="button">
              <fa-icon [icon]="EyeIcon"></fa-icon>
            </button>
          </div>
        </div>
        <span class="text-danger"
          *ngIf="registerFormControl.newPassword.touched  && registerFormControl.newPassword.errors?.required">
          mot de passe requis
        </span>
        <span class="text-danger" *ngIf="registerFormControl.newPassword.errors?.invalidPassword">
          Le mot de passe doit comporter au moins 8 caractères, une lettre majuscule, une lettre minuscule, un chiffre et
          un caractère spéciale
        </span>
      </div>

      <div class=" mb-4 d-flex flex-column">
        <label class="text-dark" for="">Confirmé le Mot de passe : <span class="text-danger">*</span></label>
        <div style="height: 50px;" class="input-group  mb-3">
          <input formControlName="confirmPassword" [type]="getInputType()" type="password" class="form-control"
            aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button style="height: 50px; " (click)="toggleShowPassword()" class="px-3 btn btn-outline-secondary"
              type="button">
              <fa-icon [icon]="EyeIcon"></fa-icon>
            </button>
          </div>
        </div>
        <span class="text-danger"
          *ngIf="registerFormControl.confirmPassword.touched && registerFormControl.confirmPassword.errors?.required">
          Confirmation de mot de passe réquis
        </span>
        <span class="text-danger" *ngIf="registerFormControl.confirmPassword.errors?.passwordMismatch">
          Les mots de passe ne correspondent pas
        </span>
      </div>
      <button type="submit" class="w-100 btn bg-biblos   mb-4 border border-none text-white confirm-btn">CHANGER LE MOT
        DE PASSE</button>
      <div>
        <a (click)="logOut()" class="text-decoration-underline" href="">déconnexion </a>
      </div>
    </form>
  </div>
</div>