<form [formGroup]="crActivityForm" (ngSubmit)="save()">
    <div
      *ngIf="showLoader == true"
      class="overlay d-flex justify-content-center align-items-center"
    >
      <div class="d-flex w-100 justify-content-center">
        <div
          class="spinner-border"
          style="width: 5rem; height: 5rem; color: #623508"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
    <small *ngIf="!details" class="mb-2 fw-bold"
      >Nb: Tous les champs marqués par <span class="text-danger">*</span> sont
      obligatoires</small
    >
    <div *ngIf="invalidFom" class="alert alert-danger">Formulaire invalid</div>
    <div class="row mb-2">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <label for="code" class="form-label text-capitalize">Caisse
          <span *ngIf="!details" class="text-danger">*</span>
        </label>
        <ng-select  formControlName="cashRegister">
            <ng-option *ngFor="let cashRegisterNameAndId of cashRegistersNameAndId" [value]="cashRegisterNameAndId.id">{{
                cashRegisterNameAndId.name
            }}</ng-option>
          </ng-select>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 rounded-pill">
        <label for="cashier" class="form-label ">Caissier(e)</label>
        <ng-select placeholder="Caissier(e)" formControlName="cashier">
          <ng-option *ngFor="let cashier of cashiers" [value]="cashier.id">{{
            cashier.name
          }}</ng-option>
        </ng-select>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <label for="openingBalance" class="form-label text-capitalize">Solde ouverture</label>
        <span *ngIf="!details" class="text-danger">*</span>
        <input
          type="number"
          id="openingBalance"
          class="form-control"
          formControlName="openingBalance"
        />
      </div>
      <div class="col-lg-6 col-md-4 col-sm-12 mb-2 rounded-pill">
        <label for="code" class="form-label text-capitalize">Date et heure d'ouverture
          <span  class="text-danger">*</span>
        </label>
        <input nbInput formControlName="openingDate" placeholder="Date et heure d'ouverture" class="form-control" [nbDatepicker]="dateTimePicker">
        <nb-date-timepicker withSeconds #dateTimePicker></nb-date-timepicker>
      </div>
    </div>
    <div *ngIf="!details" class="mt-3 col">
      <div class="">
        <button
          style="background-color: #14a2b8"
          type="submit"
          class="btn text-capitalize bg-biblos justify-content-center text-white rounded px-4 py-2 fw-bold"
        >
          VALIDER
        </button>
      </div>
    </div>
  </form>
  