<nb-card class="nbCardList">
    <nb-card-header class="row d-flex justify-content-between align-items-center">
      <div class="col-lg-7 col-md-3 col-sm-12">
        <h4
          class="text-capitalize d-flex justify-content-start w-100 text-center"
        >
        SALLE D'ATTENTE
        </h4>
      </div>
    </nb-card-header>
    <nb-card-body>
          <form [formGroup]="searchForm">
            <div class="row d-flex justify-content-between align-items-end mb-2">
              <div class="col-lg-11 col-md-9 col-sm-12 row">
                <div class="col-lg-11 row">
                  <div class="col-lg-3 col-md-4 col-sm-12 mb-2 rounded-pill">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="admissionNumber"
                      placeholder="N° admission"
                    />
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-12 mb-2 rounded-pill">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="lastName"
                      placeholder="Nom"
                    />
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-12 mb-2 rounded-pill">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="idCardNumber"
                      placeholder="N° CNI"
                    />
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-12 mb-2 rounded-pill">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="cnamNumber"
                      placeholder="N° CNAM"
                    />
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-12 mb-2 rounded-pill">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="patientExternalId"
                      placeholder="N° du Patient"
                    />
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-12 mb-2 rounded-pill">
                    <input nbInput placeholder="Date et heure d'admission" class="form-control" [nbDatepicker]="dateTimePicker">
                    <nb-date-timepicker withSeconds #dateTimePicker></nb-date-timepicker>
                  </div>

                  <div class="col-lg-3 col-md-4 col-sm-12 mb-2 rounded-pill">
                    <ng-select formControlName="practician" placeholder="practicien">
                        <ng-option *ngFor="let practician of practicians" [value]="practician.userId">
                          {{practician.userFirstName +" "+ practician.userLastName}}
                        </ng-option>
                      </ng-select>
                  </div>

                  <div class="col-lg-3 col-md-4 col-sm-12 mb-2 rounded-pill">
                    <ng-select formControlName="waitingRoom" placeholder="Salle d'attentes">
                        <ng-option *ngFor="let waitingRoom of waitingRooms" [value]="waitingRoom.id">
                          {{waitingRoom.name}}
                        </ng-option>
                      </ng-select>
                  </div>

                  <div class="col-lg-3 col-md-4 col-sm-12 mb-2 rounded-pill">
                    <ng-select formControlName="service" placeholder="service">
                        <ng-option *ngFor="let actServiceNameAndId of actServicesNameAndId" [value]="actServiceNameAndId.id">
                          {{actServiceNameAndId.name}}
                        </ng-option>
                      </ng-select>
                  </div>

                  <div class="col-lg-3 col-md-4 col-sm-12 mb-2 rounded-pill">
                    <ng-select formControlName="act" placeholder="acte">
                        <ng-option *ngFor="let act of activeActNameAndId" [value]="act.id">
                          {{act.name}}
                        </ng-option>
                      </ng-select>
                  </div>
               
                </div>
                <div class="col-lg-1">
                  <span
                    (click)="onSearchValueChange()"
                    style="
                      background-color: #ededed;
                      color: #14a2b8;
                      cursor: pointer;
                    "
                    class="material-icons px-2 p-1 rounded"
                  >
                    search
                  </span>
                </div>
              </div>
              <div class="col-lg-1 col-md-3 col-sm-12 ">
                <ng-select
                  [(ngModel)]="selectedSize"
                  formControlName="size"
                  (change)="onSearchValueChange()"
                >
                  <ng-option *ngFor="let size of sizes" [value]="size.id">{{
                    size.value
                  }}</ng-option>
                </ng-select>
              </div>
            </div>
          </form>   
      <div class="tableFixHead">
        <table class="table table-bordered table-hover table-md align-middle">
          <thead class="pb-3 text-capitalize">
            <tr class="pb-3">
              <th>N° Admission</th>
              <th>Facturé</th>
              <th>N° patient</th>
              <th>Nom</th>
              <th>prenom</th>
              <th>Date d'admission</th>
              <th>Acte</th>
              <th>Service</th>
              <th>Médecin</th> 
              <th>Admis par</th>     
              <th>Actions</th>   
            </tr>
          </thead>
  
          <tbody>
            <tr
              *ngFor="
                let admission of items
                  | paginate
                    : {
                        itemsPerPage: selectedSize,
                        currentPage: currentPage,
                        totalItems: totalItems
                      };
                let i = index
              "
              [class.active]="i == currentIndex"
              (click)="rowSelected(commune, i)"
            >
              <td>{{admission?.admissionNumber | uppercase }}</td>
              <td class="text-center">
                <nb-icon *ngIf="admission.admissionStatus == 'B'" style="color: green;" icon="checkmark-circle-2"></nb-icon>
                <nb-icon *ngIf="admission.admissionStatus == 'R'" style="color: red;" icon="close-circle"></nb-icon>
            </td>
              <td class="text-nowrap">{{admission.patientExternalId}}</td>
              <td class="text-nowrap">{{admission.patientFirstName}}</td>
              <td class="text-nowrap">{{admission.patientLastName}}</td>
              <td class="text-nowrap">{{admission.admissionDate | date: "dd/MM/yyyy"}}</td>
              <td class="text-nowrap">{{admission.act}}</td>
              <td class="text-nowrap">{{admission.service}}</td>
              <td>Dr {{admission.practicianFirstName}} {{admission.practicianLastName}}</td>
              <td>{{admission.createdByFirstName}}</td>
              <td>
                <div ngbDropdown class="d-inline-block">
                  <button type="button" class="btn btn-outline-info" id="dropdownBasic1" ngbDropdownToggle>
                    ...
                  </button>
                  <div class="text" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <!-- <button
                    (click)="openUpdateForm(updateFormContent, admission)"
                     class="text-center" 
                     ngbDropdownItem>
                     Modifier
                    </button> -->
                    <!-- <button 
                    class="text-center" 
                    ngbDropdownItem>patienttèle</button> -->
                    <!-- <button routerLink="/constant/patient-constant/{{admission.patientId}}" class="text-center" ngbDropdownItem>Constante</button> -->
                    <button class="text-center" 
                    routerLink="/medical-folder/patient-folder/{{admission.id}}"               
                    ngbDropdownItem>Dossier</button>
                    <!-- <button class="text-center"
                    (click)="printInvoice(printContent)"
                     ngbDropdownItem
                     >Edit PDF</button> -->
                     <!-- <button 
                     class="text-center"
                    (click)="openInvoiceForm(invoiceFormContent, admission)"
                    ngbDropdownItem>Facture</button> -->
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex w-100 justify-content-center">
        <div
          style="color: #623508"
          *ngIf="showloading"
          class="spinner-border"
          style="width: 3rem; height: 3rem"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <pagination-controls
          responsive="true"
          previousLabel="Prev"
          nextLabel="Next"
          (pageChange)="onPageChange($event)"
        >
        </pagination-controls>
      </div>
    </nb-card-body>
  </nb-card>
  
  
  <!-- update modal -->
  <ng-template #updateFormContent let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="text-capitalize modal-title color-biblos" id="update-form-modal">
        Modifer une admission
      </h4>
      <nb-icon
        style="cursor: pointer"
        (click)="d('Cross click')"
        class="h4"
        icon="close-circle-outline"
      ></nb-icon>
    </div>
    <div class="modal-body">
      <app-admission-form
        [admission]="admission"
        (updateAdmission)="updateAdmission()"
      ></app-admission-form>
    </div>
  </ng-template>

  <ng-template #invoiceFormContent let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="text-capitalize modal-title color-biblos" id="update-form-modal">
        Ajouter une Facture
      </h4>
      <nb-icon
        style="cursor: pointer"
        (click)="d('Cross click')"
        class="h4"
        icon="close-circle-outline"
      ></nb-icon>
    </div>
    <div class="modal-body">
      <app-invoice-form
        [admission]="admission"
        [makeInvoice]="makeInvoice"
        (addInvoice)="addInvoice()"
      ></app-invoice-form>
    </div>
  </ng-template>

    <!-- ngx-extended-pdf-viewer -->
<ng-template #printContent let-c="close" let-d="dismiss">
  <div class="modal-header bg-gray">
    <h4 class="text-capitalize modal-title" id="update-form-modal">IMPRIMER</h4>
    <nb-icon style="cursor: pointer;" (click)="d('Cross click')" class="h4"  icon="close-circle-outline"></nb-icon>
  </div>
  <div class="modal-body bg-gray">
    <ngx-extended-pdf-viewer *ngIf='docSrc' [src]="docSrc" useBrowserLocale="true" height="80vh">
    </ngx-extended-pdf-viewer>
  </div>
</ng-template>
  