<form [formGroup]="constantTypeForm" (ngSubmit)="save()">
  <div
    *ngIf="showloading == true"
    class="overlay d-flex justify-content-center align-items-center"
  >
    <div class="d-flex w-100 justify-content-center">
      <div
        class="spinner-border"
        style="width: 5rem; height: 5rem; color: #623508"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <small *ngIf="!details" class="mb-2 fw-bold"
    >Nb: Tous les champs marqués par <span class="text-danger">*</span> sont
    obligatoires</small
  >
  <div *ngIf="invalidFom" class="alert alert-danger">Formulaire invalid</div>

  <div
    formArrayName="constants"
    *ngFor="let constant of constants.controls; let i = index"
  >
    <div class="row mb-3 mt-4" [formGroupName]="i">
      <div class="col-lg-4 col-md-4 col-sm-12 rounded-pill">
        <label for="constantDomain-{{ i }}" class="form-label text-capitalize"
          >Constante</label
        >
        <ng-select
          placeholder="Constante"
          id="constantType-{{ i }}"
          formControlName="constant"
        >
          <ng-option
            *ngFor="let constantDomain of constantDomainList"
            [value]="constantDomain.id"
            >{{ constantDomain.name }}</ng-option
          >
        </ng-select>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <label for="valeur-{{ i }}" class="form-label text-capitalize"
          >Valeur constante
          <span *ngIf="!details" class="text-danger">*</span>
          </label
        >
        <input
          type="text"
          id="valeur-{{ i }}"
          class="form-control"
          formControlName="value"
        />
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <label for="description-{{ i }}" class="form-label text-capitalize"
          >Description</label
        >
        <span *ngIf="!details" class="text-danger">*</span>
        <textarea
          type="text"
          id="description-{{ i }}"
          class="form-control"
          formControlName="description"
          rows="1"
        ></textarea>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-12 d-flex align-items-end">
        <span
          (click)="removeConstant(i)"
          style="color: red; cursor: pointer"
          class="material-icons px-2 p-1 rounded"
        >
          delete
        </span>
        <!-- <button (click)="removeConstant(i)">-</button> -->
      </div>
    </div>
  </div>
  <div class="mt-3">
    <span
      (click)="addConstant()"
      style="color: white; cursor: pointer; background-color: green"
      class="material-icons px-2 p-1 rounded"
    >
      add
    </span>
  </div>
  <!-- <div class="row mb-3 mt-4">
    <div class="col-lg-4 col-md-4 col-sm-12 rounded-pill">
      <label for="constantDomain" class="form-label text-capitalize"
        >Constante Domaine</label
      >
      <ng-select
        placeholder="Constante domaine"
        id="constantDomain"
        formControlName="constantDomain"
      >
        <ng-option
          *ngFor="let constantDomain of constantDomainList"
          [value]="constantDomain.id"
          >{{ constantDomain.name }}</ng-option
        >
      </ng-select>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <label for="valeur" class="form-label text-capitalize"
        >Valeur de la constante</label
      >
      <span *ngIf="!details" class="text-danger">*</span>
      <input
        type="text"
        id="valeur"
        class="form-control"
        formControlName="valeur"
        [ngClass]="{ 'is-invalid': formsErrors['valeur'] }"
      />
      <span style="color: red">
        {{ formsErrors["valeur"] }}
      </span>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <label for="code" class="form-label text-capitalize">Description</label>
      <span *ngIf="!details" class="text-danger">*</span>
      <input
        type="text"
        id="code"
        class="form-control"
        formControlName="description"
        [ngClass]="{ 'is-invalid': formsErrors['description'] }"
      />
      <span style="color: red">
        {{ formsErrors["description"] }}
      </span>
    </div>
  </div> -->
  <div class="row mt-3">
    <div class="col-md-12">
      <button
        style="background-color: #14a2b8"
        type="submit"
        class="btn text-capitalize bg-biblos justify-content-center text-white rounded px-4 py-2 fw-bold"
      >
        VALIDER
      </button>
    </div>
  </div>
</form>
