<div class="w-100 lgHeader d-flex align-items-center justify-content-between px-2">
  <div class="d-flex">
    <nb-actions size="medium">
      <nb-action (click)="toggleSidebar()" icon="menu-2-outline"></nb-action>
    </nb-actions>
  </div>
  <div class="d-flex align-items-center">
    <nb-actions size="medium">
      <!-- <nb-action [hidden]="!canAccessNotification" class="control-item" icon="bell-outline" badgeText="2"
      badgePosition="top right"
      badgeStatus="danger"></nb-action> -->
      <!-- <nb-action   (click)="showRightSideBarF()" class="control-item" icon="settings-outline" ></nb-action> -->
      <nb-action class="control-item">
        <button class="" size="tiny" shape="round" (click)="logOut()" nbButton>Se deconnecter</button>
      </nb-action>
    </nb-actions>
    <nb-user (click)="showRightSideBarF()" class="pointer" name="{{user?.lastName}} {{user?.firstName }} ({{user?.role}})" title="{{user?.facility?.name | uppercase}}"></nb-user>
    <!-- <nb-user size="large" (click)="showRightSideBarF()" name="{{user?.lastName}} {{user?.firstName}} ({{user?.role}})" title="{{user?.facility.name | uppercase}}" picture="user?.profileImageUrl">
    </nb-user> -->
  </div>
 
</div>



