<nb-card class="nbCardList">
    <nb-card-header class="row d-flex justify-content-end align-items-center">
      <div class="col-lg-1 col-md-3 col-sm-12 justify-content-end">
        <button
          (click)="openAddForm(addFormContent)"
          class="text-capitalize btn mb-2 btn-block  w-100 d-flex align-items-center justify-content-center text-white rounded"
          style="background-color: #14a2b8;"
        >
          <nb-icon icon="plus-outline"></nb-icon>
        </button>
      </div>
    </nb-card-header>
    <nb-card-body>
      <!-- <form [formGroup]="searchForm">
        <div class="row d-flex justify-content-between align-items-center">
          <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-12 mb-2 rounded-pill">
                <input
                  type="text"
                  class="form-control"
                  formControlName="name"
                  placeholder="Convention"
                />
              </div>
              <div class="col-lg-3 col-md-4 col-sm-12 mb-2 rounded-pill">
                <ng-select placeholder="Etat" formControlName="active">
                  <ng-option *ngFor="let actif of actives" [value]="actif.id">{{
                    actif.value
                  }}</ng-option>
                </ng-select>
              </div>
              <div class="col-lg-2">
                <span
                  (click)="onSearchValueChange()"
                  style="
                    background-color: #ededed;
                    color: #14a2b8;
                    cursor: pointer;
                  "
                  class="material-icons px-2 p-1 rounded"
                >
                  search
                </span>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-12">
            <ng-select
              [(ngModel)]="selectedSize"
              formControlName="size"
              (change)="onSearchValueChange()"
            >
              <ng-option *ngFor="let size of sizes" [value]="size.id">{{
                size.value
              }}</ng-option>
            </ng-select>
          </div>
        </div>
      </form> -->
      <div class="tableFixHead">
        <table class="table table-bordered table-hover table-md align-middle">
          <thead class="pb-3 text-capitalize">
            <tr class="pb-3">
              <th>Date</th>
              <th>Observation</th>
              <th>Medecin</th>
              <th>Centre médical</th>
              <th>Actions</th>
            </tr>
  
            <tr></tr>
          </thead>
  
          <tbody>
            <tr
              *ngFor="
                let examination of items
                  | paginate
                    : {
                        itemsPerPage: selectedSize,
                        currentPage: currentPage,
                        totalItems: totalItems
                      };
                let i = index
              "
              [class.active]="i == currentIndex"
            >
            <td>{{ examination?.date | date: "dd/MM/yyyy hh:mm:ss" }}</td>
              <td>{{ examination?.conclusion | uppercase }}</td>
              <td>{{ examination?.practicianFirstName  }} {{ examination?.practicianLastName}}</td>
              <td>{{ examination?.facility }}</td>
              <td>
                <nb-icon (click)="openPrescriptionForm(prescriptionFormContent, examination)" class="mx-2 pointer" style=" cursor: pointer;" ngbTooltip="Délivrer une ordonnance" icon="file-outline"></nb-icon>
              </td>
              <!-- <td style="font-size: 30px">
                <nb-icon
                  (click)="openUpdateForm(updateFormContent, convention)"
                  class="mx-2 pointer"
                  style="cursor: pointer"
                  icon="edit-outline"
                ></nb-icon>
                <nb-icon (click)="openDetailsForm(detailFormContent, commune)" class="mx-2 pointer" style=" cursor: pointer;" icon="eye-outline"></nb-icon>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex w-100 justify-content-center">
        <div
          style="color: #623508"
          *ngIf="showloading"
          class="spinner-border"
          style="width: 3rem; height: 3rem"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <pagination-controls
          responsive="true"
          previousLabel="Prev"
          nextLabel="Next"
          (pageChange)="onPageChange($event)"
        >
        </pagination-controls>
      </div>
    </nb-card-body>
  </nb-card>
  
  <!-- add modal -->
  <ng-template #addFormContent let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="text-capitalize modal-title color-biblos" id="add-form-modal">
        Ajouter une consultation
      </h4>
      <nb-icon
        style="cursor: pointer"
        (click)="d('Cross click')"
        class="h4"
        icon="close-circle-outline"
      ></nb-icon>
    </div>
    <div class="modal-body">
      <app-new-examination
        [admissionId]="admissionId"
        (addExamination)="addExamination()"
      ></app-new-examination>
    </div>
  </ng-template>
  
   <!-- add modal -->
   <ng-template #prescriptionFormContent let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="text-capitalize modal-title color-biblos" id="add-form-modal">
        Ajouter une ordonnance
      </h4>
      <nb-icon
        style="cursor: pointer"
        (click)="d('Cross click')"
        class="h4"
        icon="close-circle-outline"
      ></nb-icon>
    </div>
    <div class="modal-body">
      <app-prescription-form [examinationId]="examinationId" (addPrescription)="addPrescription()"></app-prescription-form>
    </div>
  </ng-template>
  <!-- update modal -->
  <!-- <ng-template #updateFormContent let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="text-capitalize modal-title color-biblos" id="update-form-modal">
        Modifer une convention
      </h4>
      <nb-icon
        style="cursor: pointer"
        (click)="d('Cross click')"
        class="h4"
        icon="close-circle-outline"
      ></nb-icon>
    </div>
    <div class="modal-body">
      <app-convention-form
        [convention]="convention"
        (updateConvention)="updateConvention()"
      ></app-convention-form>
    </div>
  </ng-template> -->
  