<form [formGroup]="therapeuticForm" (ngSubmit)="save()">
    <div
      *ngIf="showloading == true"
      class="overlay d-flex justify-content-center align-items-center"
    >
      <div class="d-flex w-100 justify-content-center">
        <div
          class="spinner-border"
          style="width: 5rem; height: 5rem; color: #623508"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
    <small *ngIf="!details" class="mb-2 fw-bold"
      >Nb: Tous les champs marqués par <span class="text-danger">*</span> sont
      obligatoires</small
    >
    <div *ngIf="invalidFom" class="alert alert-danger">Formulaire invalid</div>
    <div class="row mb-2">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <label for="name" class="form-label text-capitalize">Libelle</label>
        <span *ngIf="!details" class="text-danger">*</span>
        <input
          type="text"
          id="name"
          class="form-control"
          formControlName="name"
        />
    
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 rounded-pill">
        <label for="active" class="form-label text-capitalize">Etat</label>
        <ng-select placeholder="Etat" formControlName="active">
          <ng-option *ngFor="let actif of actives" [value]="actif.id">{{
            actif.value
          }}</ng-option>
        </ng-select>
      </div>
    </div>
    <div *ngIf="!details" class="mt-3 col">
      <div class="">
        <button
          style="background-color: #14a2b8"
          type="submit"
          class="btn text-capitalize bg-biblos justify-content-center text-white rounded px-4 py-2 fw-bold"
        >
          VALIDER
        </button>
      </div>
    </div>
  </form>
  