.closed {
    background-color: #ffcdd2;
    color: #c63737;
    font-weight: bold;
    font-size: 0.8rem;
  }
  
  .opened {
    background-color: #c8e6c9;
    color: #256029;
    font-weight: bold;
    font-size: 0.8rem;
  }