<form [formGroup]="patientForm" (ngSubmit)="save()">
  <div
    *ngIf="showloading == true"
    class="overlay d-flex justify-content-center align-items-center"
  >
    <div class="d-flex w-100 justify-content-center">
      <div
        class="spinner-border"
        style="width: 5rem; height: 5rem; color: #623508"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <small *ngIf="!details" class="mb-2 fw-bold"
    >Nb: Tous les champs marqués par <span class="text-danger">*</span> sont
    obligatoires</small
  >
  <div *ngIf="invalidFom" class="alert alert-danger">Formulaire invalid</div>

  <div class="row mb-2">
    <div class="col-md-12">
      <h3>Informations Patient</h3>
    </div>
    <!-- Nom -->
    <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
      <label for="name" class="form-label text-capitalize">Nom</label>
      <span *ngIf="!details" class="text-danger">*</span>
      <input
        type="text"
        id="name"
        class="form-control"
        formControlName="lastName"
        [ngClass]="{ 'is-invalid': formsErrors['lastName'] }"
      />
      <span style="color: red">
        {{ formsErrors["lastName"] }}
      </span>
    </div>

    <!-- Prenom -->
    <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
      <label for="firstName" class="form-label text-capitalize">Prenoms</label>
      <span *ngIf="!details" class="text-danger">*</span>
      <input
        type="text"
        id="firstName"
        class="form-control"
        formControlName="firstName"
        [ngClass]="{ 'is-invalid': formsErrors['firstName'] }"
      />
      <span style="color: red">
        {{ formsErrors["firstName"] }}
      </span>
    </div>

    <!-- E-mail -->
    <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
      <label for="email" class="form-label text-capitalize">E-mail</label>
      <span *ngIf="!details" class="text-danger">*</span>
      <input
        type="text"
        id="email"
        class="form-control"
        formControlName="email"
        [ngClass]="{ 'is-invalid': formsErrors['email'] }"
      />
      <span style="color: red">
        {{ formsErrors["email"] }}
      </span>
    </div>

    <!-- Téléphone 1 -->
    <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
      <label for="cellPhone1" class="form-label text-capitalize"
        >Téléphone 1</label
      >
      <span *ngIf="!details" class="text-danger">*</span>
      <input
        type="number"
        id="cellPhone1"
        class="form-control"
        formControlName="cellPhone1"
        [ngClass]="{ 'is-invalid': formsErrors['cellPhone1'] }"
      />
      <span style="color: red">
        {{ formsErrors["cellPhone1"] }}
      </span>
    </div>

    <!-- Téléphone 2 -->
    <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
      <label for="cellPhone2" class="form-label text-capitalize"
        >Téléphone 2</label
      >
      <span *ngIf="!details" class="text-danger">*</span>
      <input
        type="number"
        id="cellPhone2"
        class="form-control"
        formControlName="cellPhone2"
        [ngClass]="{ 'is-invalid': formsErrors['cellPhone2'] }"
      />
      <span style="color: red">
        {{ formsErrors["cellPhone2"] }}
      </span>
    </div>

    <!-- Adresse -->
    <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
      <label for="address" class="form-label text-capitalize">Adresse</label>
      <span *ngIf="!details" class="text-danger">*</span>
      <input
        type="text"
        id="address"
        class="form-control"
        formControlName="address"
        [ngClass]="{ 'is-invalid': formsErrors['address'] }"
      />
      <span style="color: red">
        {{ formsErrors["address"] }}
      </span>
    </div>

    <!-- Date de naissance -->
    <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
      <label for="birthDate" class="form-label text-capitalize"
        >Date de naissance</label
      >
      <span *ngIf="!details" class="text-danger">*</span>
      <input
        type="date"
        id="birthDate"
        class="form-control"
        formControlName="birthDate"
        [ngClass]="{ 'is-invalid': formsErrors['birthDate'] }"
      />
      <span style="color: red">
        {{ formsErrors["birthDate"] }}
      </span>
    </div>

    <!-- Sexe -->
    <div class="col-lg-4 col-md-4 col-sm-12 mb-3 rounded-pill">
      <label for="gender" class="form-label text-capitalize">Sexe</label>
      <ng-select placeholder="Homme/Femme" formControlName="gender">
        <ng-option *ngFor="let gender of genders" [value]="gender.id">{{
          gender.value
        }}</ng-option>
      </ng-select>
    </div>

    <!-- Civilité -->
    <div class="col-lg-4 col-md-4 col-sm-12 mb-3 rounded-pill">
      <label for="civility" class="form-label text-capitalize">Civilité</label>
      <ng-select placeholder="Homme/Femme" formControlName="civility">
        <ng-option *ngFor="let civility of civilitys" [value]="civility.id">{{
          civility.value
        }}</ng-option>
      </ng-select>
    </div>

    <!-- Type de pièce -->
    <div class="col-lg-4 col-md-4 col-sm-12 mb-3 rounded-pill">
      <label for="idcardType" class="form-label text-capitalize"
        >Type de pièce</label
      >
      <ng-select placeholder="Homme/Femme" formControlName="idcardType">
        <ng-option
          *ngFor="let typePiece of typePieces"
          [value]="typePiece.id"
          >{{ typePiece.value }}</ng-option
        >
      </ng-select>
    </div>

    <!-- N° de pièce -->
    <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
      <label for="idCardNumber" class="form-label text-capitalize"
        >N° de pièce</label
      >
      <span *ngIf="!details" class="text-danger">*</span>
      <input
        type="text"
        id="idCardNumber"
        class="form-control"
        formControlName="idCardNumber"
        [ngClass]="{ 'is-invalid': formsErrors['idCardNumber'] }"
      />
      <span style="color: red">
        {{ formsErrors["idCardNumber"] }}
      </span>
    </div>

    <!-- Numero de sécurité -->
    <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
      <label for="cnamNumber" class="form-label text-capitalize"
        >Numero de sécurité</label
      >
      <span *ngIf="!details" class="text-danger">*</span>
      <input
        type="text"
        id="cnamNumber"
        class="form-control"
        formControlName="cnamNumber"
        [ngClass]="{ 'is-invalid': formsErrors['cnamNumber'] }"
      />
      <span style="color: red">
        {{ formsErrors["cnamNumber"] }}
      </span>
    </div>

    <!-- Profession -->
    <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
      <label for="profession" class="form-label text-capitalize"
        >Profession</label
      >
      <span *ngIf="!details" class="text-danger">*</span>
      <input
        type="text"
        id="profession"
        class="form-control"
        formControlName="profession"
        [ngClass]="{ 'is-invalid': formsErrors['profession'] }"
      />
      <span style="color: red">
        {{ formsErrors["profession"] }}
      </span>
    </div>

    <!-- Correspondant -->
    <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
      <label for="correspondant" class="form-label text-capitalize"
        >Correspondant</label
      >
      <span *ngIf="!details" class="text-danger">*</span>
      <input
        type="text"
        id="correspondant"
        class="form-control"
        formControlName="correspondant"
        [ngClass]="{ 'is-invalid': formsErrors['correspondant'] }"
      />
      <span style="color: red">
        {{ formsErrors["correspondant"] }}
      </span>
    </div>

    <!-- N° Correspondant -->
    <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
      <label for="correspondantCellPhone" class="form-label text-capitalize"
        >N° Correspondant</label
      >
      <span *ngIf="!details" class="text-danger">*</span>
      <input
        type="number"
        id="correspondantCellPhone"
        class="form-control"
        formControlName="correspondantCellPhone"
        [ngClass]="{ 'is-invalid': formsErrors['correspondantCellPhone'] }"
      />
      <span style="color: red">
        {{ formsErrors["correspondantCellPhone"] }}
      </span>
    </div>

    <!-- Statut Matrimonial -->
    <div class="col-lg-4 col-md-4 col-sm-12 mb-3 rounded-pill">
      <label for="maritalStatus" class="form-label text-capitalize"
        >Statut Matrimonial</label
      >
      <ng-select
        placeholder="Statut matrimonial"
        formControlName="maritalStatus"
      >
        <ng-option
          *ngFor="let statutMatrimonial of statutMatrimonials"
          [value]="statutMatrimonial.id"
          >{{ statutMatrimonial.value }}</ng-option
        >
      </ng-select>
    </div>

    <!-- Nom Epous(e) -->
    <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
      <label for="maidenName" class="form-label text-capitalize"
        >Nom Epous(e)</label
      >
      <span *ngIf="!details" class="text-danger">*</span>
      <input
        type="text"
        id="maidenName"
        class="form-control"
        formControlName="maidenName"
        [ngClass]="{ 'is-invalid': formsErrors['maidenName'] }"
      />
      <span style="color: red">
        {{ formsErrors["maidenName"] }}
      </span>
    </div>

    <!-- Contact d'urgence -->
    <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
      <label for="emergencyContact" class="form-label text-capitalize"
        >Contact d'urgence</label
      >
      <span *ngIf="!details" class="text-danger">*</span>
      <input
        type="number"
        id="emergencyContact"
        class="form-control"
        formControlName="emergencyContact"
        [ngClass]="{ 'is-invalid': formsErrors['emergencyContact'] }"
      />
      <span style="color: red">
        {{ formsErrors["emergencyContact"] }}
      </span>
    </div>

    <!-- Contact d'urgence 2 -->
    <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
      <label for="emergencyContact2" class="form-label text-capitalize"
        >Contact d'urgence 2</label
      >
      <span *ngIf="!details" class="text-danger">*</span>
      <input
        type="number"
        id="emergencyContact2"
        class="form-control"
        formControlName="emergencyContact2"
        [ngClass]="{ 'is-invalid': formsErrors['emergencyContact2'] }"
      />
      <span style="color: red">
        {{ formsErrors["emergencyContact2"] }}
      </span>
    </div>

    <!-- Nombre d'enfant -->
    <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
      <label for="numberOfChildren" class="form-label text-capitalize"
        >Nombre d'enfant</label
      >
      <span *ngIf="!details" class="text-danger">*</span>
      <input
        type="number"
        id="numberOfChildren"
        class="form-control"
        formControlName="numberOfChildren"
        [ngClass]="{ 'is-invalid': formsErrors['numberOfChildren'] }"
      />
      <span style="color: red">
        {{ formsErrors["numberOfChildren"] }}
      </span>
    </div>

    <!-- Pays -->
    <div class="col-lg-4 col-md-4 col-sm-12 mb-3 rounded-pill">
      <label for="country" class="form-label text-capitalize">Pays</label>
      <ng-select
        id="country"
        placeholder="Pays"
        formControlName="country"
        (change)="onGetCityBycountry($event)"
      >
        <ng-option *ngFor="let country of countryList" [value]="country.id">{{
          country.name
        }}</ng-option>
      </ng-select>
    </div>

    <!-- Ville -->
    <div class="col-lg-4 col-md-4 col-sm-12 mb-3 rounded-pill">
      <label for="cityId" class="form-label text-capitalize">Ville</label>
      <ng-select id="cityId" placeholder="Ville" formControlName="cityId">
        <ng-option *ngFor="let city of cityList" [value]="city.id">{{
          city.name
        }}</ng-option>
      </ng-select>
    </div>

    <!-- Nom de la mère -->
    <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
      <label for="motherLastName" class="form-label text-capitalize"
        >Nom de la mère</label
      >
      <span *ngIf="!details" class="text-danger">*</span>
      <input
        type="text"
        id="motherLastName"
        class="form-control"
        formControlName="motherLastName"
        [ngClass]="{ 'is-invalid': formsErrors['motherLastName'] }"
      />
      <span style="color: red">
        {{ formsErrors["motherLastName"] }}
      </span>
    </div>

    <!-- Prenom(s) -->
    <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
      <label for="motherFirstName" class="form-label text-capitalize"
        >Prenom(s)</label
      >
      <span *ngIf="!details" class="text-danger">*</span>
      <input
        type="text"
        id="motherFirstName"
        class="form-control"
        formControlName="motherFirstName"
        [ngClass]="{ 'is-invalid': formsErrors['motherFirstName'] }"
      />
      <span style="color: red">
        {{ formsErrors["motherFirstName"] }}
      </span>
    </div>

    <!-- Profession de la mère -->
    <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
      <label for="motherProfession" class="form-label text-capitalize"
        >Profession de la mère</label
      >
      <span *ngIf="!details" class="text-danger">*</span>
      <input
        type="text"
        id="motherProfession"
        class="form-control"
        formControlName="motherProfession"
        [ngClass]="{ 'is-invalid': formsErrors['motherProfession'] }"
      />
      <span style="color: red">
        {{ formsErrors["motherProfession"] }}
      </span>
    </div>

    <!-- Chambre patient -->
    <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
      <label for="patientExternalId" class="form-label text-capitalize"
        >Chambre patient</label
      >
      <span *ngIf="!details" class="text-danger">*</span>
      <input
        type="text"
        id="patientExternalId"
        class="form-control"
        formControlName="patientExternalId"
        [ngClass]="{ 'is-invalid': formsErrors['patientExternalId'] }"
      />
      <span style="color: red">
        {{ formsErrors["patientExternalId"] }}
      </span>
    </div>

    <div class="col-md-12 mt-4">
      <h3>Assurance</h3>
    </div>

    <div
      class="row mb-3"
      *ngFor="let insurance of insuranceFormGroup.controls; let i = index"
    >
      <ng-container [formGroup]="insurance">
        <!-- Statut -->
        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
          <label for="active--{{ i }}" class="form-label text-capitalize"
            >Statut</label
          >
          <span *ngIf="!details" class="text-danger">*</span>
          <input
            type="text"
            id="active--{{ i }}"
            class="form-control"
            formControlName="active"
            [ngClass]="{ 'is-invalid': formsErrors['active'] }"
          />
          <span style="color: red">
            {{ formsErrors["active"] }}
          </span>
        </div>

        <!-- cardNumber -->
        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
          <label for="cardNumber-{{ i }}" class="form-label text-capitalize"
            >cardNumber</label
          >
          <span *ngIf="!details" class="text-danger">*</span>
          <input
            type="text"
            id="cardNumber-{{ i }}"
            class="form-control"
            formControlName="cardNumber"
            [ngClass]="{ 'is-invalid': formsErrors['cardNumber'] }"
          />
          <span style="color: red">
            {{ formsErrors["cardNumber"] }}
          </span>
        </div>

        <!-- coverage -->
        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
          <label for="coverage-{{ i }}" class="form-label text-capitalize"
            >coverage</label
          >
          <span *ngIf="!details" class="text-danger">*</span>
          <input
            type="number"
            id="coverage-{{ i }}"
            class="form-control"
            formControlName="coverage"
            [ngClass]="{ 'is-invalid': formsErrors['coverage'] }"
          />
          <span style="color: red">
            {{ formsErrors["coverage"] }}
          </span>
        </div>

        <!-- insurance -->
        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
          <label for="insurance-{{ i }}" class="form-label text-capitalize"
            >insurance</label
          >
          <span *ngIf="!details" class="text-danger">*</span>
          <input
            type="number"
            id="insurance-{{ i }}"
            class="form-control"
            formControlName="insurance"
            [ngClass]="{ 'is-invalid': formsErrors['insurance'] }"
          />
          <span style="color: red">
            {{ formsErrors["insurance"] }}
          </span>
        </div>

        <!-- insuranceSuscriber -->
        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
          <label
            for="insuranceSuscriber-{{ i }}"
            class="form-label text-capitalize"
            >insuranceSuscriber</label
          >
          <span *ngIf="!details" class="text-danger">*</span>
          <input
            type="number"
            id="insuranceSuscriber-{{ i }}"
            class="form-control"
            formControlName="insuranceSuscriber"
            [ngClass]="{ 'is-invalid': formsErrors['insuranceSuscriber'] }"
          />
          <span style="color: red">
            {{ formsErrors["insuranceSuscriber"] }}
          </span>
        </div>

        <!-- isPrincipalInsured -->
        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
          <label
            for="isPrincipalInsured-{{ i }}"
            class="form-label text-capitalize"
            >isPrincipalInsured</label
          >
          <span *ngIf="!details" class="text-danger">*</span>
          <input
            type="text"
            id="isPrincipalInsured-{{ i }}"
            class="form-control"
            formControlName="isPrincipalInsured"
            [ngClass]="{ 'is-invalid': formsErrors['isPrincipalInsured'] }"
          />
          <span style="color: red">
            {{ formsErrors["isPrincipalInsured"] }}
          </span>
        </div>

        <!-- patient -->
        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
          <label for="patient-{{ i }}" class="form-label text-capitalize"
            >patient</label
          >
          <span *ngIf="!details" class="text-danger">*</span>
          <input
            type="number"
            id="patient-{{ i }}"
            class="form-control"
            formControlName="patient"
            [ngClass]="{ 'is-invalid': formsErrors['patient'] }"
          />
          <span style="color: red">
            {{ formsErrors["patient"] }}
          </span>
        </div>

        <!-- principalInsuredAffiliation -->
        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
          <label
            for="principalInsuredAffiliation-{{ i }}"
            class="form-label text-capitalize"
            >principalInsuredAffiliation</label
          >
          <span *ngIf="!details" class="text-danger">*</span>
          <input
            type="text"
            id="principalInsuredAffiliation-{{ i }}"
            class="form-control"
            formControlName="principalInsuredAffiliation"
            [ngClass]="{
              'is-invalid': formsErrors['principalInsuredAffiliation']
            }"
          />
          <span style="color: red">
            {{ formsErrors["principalInsuredAffiliation"] }}
          </span>
        </div>

        <!-- principalInsuredContact -->
        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
          <label
            for="principalInsuredContact-{{ i }}"
            class="form-label text-capitalize"
            >principalInsuredContact</label
          >
          <span *ngIf="!details" class="text-danger">*</span>
          <input
            type="text"
            id="principalInsuredContact-{{ i }}"
            class="form-control"
            formControlName="principalInsuredContact"
            [ngClass]="{ 'is-invalid': formsErrors['principalInsuredContact'] }"
          />
          <span style="color: red">
            {{ formsErrors["principalInsuredContact"] }}
          </span>
        </div>

        <!-- principalInsuredName -->
        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
          <label
            for="principalInsuredName-{{ i }}"
            class="form-label text-capitalize"
            >principalInsuredName</label
          >
          <span *ngIf="!details" class="text-danger">*</span>
          <input
            type="text"
            id="principalInsuredName-{{ i }}"
            class="form-control"
            formControlName="principalInsuredName"
            [ngClass]="{ 'is-invalid': formsErrors['principalInsuredName'] }"
          />
          <span style="color: red">
            {{ formsErrors["principalInsuredName"] }}
          </span>
        </div>

        <!-- Remove insurance -->
        <div class="col-md-12">
          <button (click)="removeInsurance(i)" class="deleteInsurance">
            <fa-icon [icon]="AddIcon"></fa-icon>
          </button>
        </div>
      </ng-container>
    </div>

    <div class="row">
      <div class="col-md-12 text-end">
        <button (click)="addInsurance()" class="addInsurance">
          Ajouter une assurance
        </button>
      </div>
    </div>

    <!-- <div class="col-lg-4 col-md-4 col-sm-12 rounded-pill">
      <label for="active" class="form-label text-capitalize">Etat</label>
      <ng-select placeholder="Etat" formControlName="active">
        <ng-option *ngFor="let actif of actives" [value]="actif.id">{{
          actif.value
        }}</ng-option>
      </ng-select>
    </div> -->
  </div>
  <div *ngIf="!details" class="mt-5 col">
    <div class="">
      <button
        style="background-color: #14a2b8"
        type="submit"
        class="btn text-capitalize bg-biblos justify-content-center text-white rounded px-4 py-2 fw-bold"
      >
        VALIDER
      </button>
    </div>
  </div>
</form>
