<div class="full_content">
    <h3 class="m-0 text-dark my-3">Tableau de bord - {{todayDate | date:'dd/MM/yyy'}}</h3>
  
<div class="row mb-5">
    <div  class="col-lg-3 col-md-4 col-sm-12 ">

        <nb-card class="card-dashboard">
            <nb-card-header style="">Rendez-vous</nb-card-header>
            <nb-card-body class="d-flex align-items-center  justify-content-between">
                <div style=" height: 4rem; width: 4rem;" class="rounded-circle d-flex align-items-center justify-content-center">
                    <span style="font-size:3rem; color: #14a2b86e;" class="material-icons">
                        calendar_month
                    </span>
                </div>
                <div class="dash_number_content">
                    <span class="dash_number" style="color: #623508;">100</span>
                </div>
               
            </nb-card-body>
          </nb-card>
    </div>
    <div  class="col-lg-3 col-md-4 col-sm-12 ">

        <nb-card>
            <nb-card-header style="">Admissions</nb-card-header>
            <nb-card-body class="d-flex align-items-center  justify-content-between">
                <div style=" height: 4rem; width: 4rem;" class="rounded-circle d-flex align-items-center justify-content-center">
                    <span style="font-size:3rem; color: #14a2b86e;" class="material-icons">
                        login
                    </span>
                </div>
                <div class="dash_number_content">
                    <span class="dash_number" style="color: #623508;">700</span>
                </div>             
            </nb-card-body>
          </nb-card>
    </div>
    <div  class="col-lg-3 col-md-4 col-sm-12 ">

        <nb-card>
            <nb-card-header style="">Patient en salle d'attente</nb-card-header>
            <nb-card-body class="d-flex align-items-center  justify-content-between">
                <div style=" height: 4rem; width: 4rem;" class="rounded-circle d-flex align-items-center justify-content-center">
                    <span  style="font-size:3rem; color: #14a2b86e; cursor: pointer;" class="material-icons">
                        personal_injury
                    </span>
                </div>
                <div class="dash_number_content">
                    <span class="dash_number" style="color: #623508;">600</span>
                </div>             
            </nb-card-body>
          </nb-card>
    </div>
    <div  class="col-lg-3 col-md-4 col-sm-12 ">

        <nb-card>
            <nb-card-header style="">Patient Reçus</nb-card-header>
            <nb-card-body class="d-flex align-items-center  justify-content-between">
                <div style="background-color: #b6e4eb6e; height: 4rem; width: 4rem;" class="rounded-circle d-flex align-items-center justify-content-center">
                    <span  style="font-size:3rem; color: #14a2b86e; cursor: pointer;" class="material-icons">
                        personal_injury
                    </span>
                </div>
                <div class="dash_number_content">
                    <span class="dash_number" style="color: #623508;">600</span>
                </div>             
            </nb-card-body>
          </nb-card>
    </div>
  
</div>

<div>
   
</div>


</div>